.custom-button {
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
  }

  .loader-search-promoter{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; 
  }