.custom-chip .MuiChip-root {
  border-radius: 10px;
}
.css-10ayn79-MuiFormControl-root-MuiTextField-root .end-img {
  padding-right: 0px;
}
.multi-select .css-185un3a-MuiInputBase-root-MuiOutlinedInput-root {
  padding: 9.5px 4px;
}
