.custom-list .css-cveggr-MuiListItemIcon-root {
  min-width: 20px;
  color: #3f435e;
}
.custom-list .MuiTypography-root {
  font-size: 16px;
  line-height: 20.08px;
  font-weight: 500;
}
.custom-list .css-1p823my-MuiListItem-root {
  padding-top: 7px;
  padding-bottom: 7px;
}
.divider {
  width: 90%;
  color: #d8dae7;
  margin: auto !important;
}
.package-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #a0a3b5;
}
