body {
  margin: 0;
  font-family: "mulish", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 0 !important;
}

code {
  font-family: "mulish", sans-serif !important;
}
